[submodule "compare/UMA-MOT"]
	path = compare/UMA-MOT
	url = https://github.com/yinjunbo/UMA-MOT.git
[submodule "compare/Towards-Realtime-MOT"]
	path = compare/Towards-Realtime-MOT
	url = https://github.com/Zhongdao/Towards-Realtime-MOT.git
[submodule "compare/MOTDT"]
	path = compare/MOTDT
	url = https://github.com/longcw/MOTDT.git
